.application {
    margin: 30px auto;
    max-width: 700px;
    padding: 20px;
    background-color: #aeece5;
    border-radius: 12px;
    box-shadow: 0 12px 16px rgba(149, 185, 183, 0.3);
  font-family: "Gorditas", serif;
  font-weight: 400;
  font-style: normal;
}
header {
    text-align: center;
    margin-bottom: 20px;

}
h1 {
    font-family: "Gorditas", serif;
    font-weight: 650;
    color: #1a4d3a;
}
h2 {
    font-family: "Gorditas", serif;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    color: #499a99;
    margin: 0;
    padding: 10px;
}
.weather-app {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.temp {
    font-family: "Gorditas", serif;
    font-weight: 700;
    font-size: 40px;
    color: #1fbc14 !important;
    text-align: right;
    margin: 0;
    padding: 10px;
    display: flex;
}
.weather-icon {
    font-size: 75px;
    font-weight: 500;
    color: #1fbc14;
    margin: 5px 5px 5px 5px;
    display: flex;
}

.current-details {
    display: flex;
    justify-content: space-between;
    font-family: "Gorditas", serif;
    font-size: 14px;
    color: #4c9f81;
    text-align: left;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}
.current-details strong {   
    color: #a4b4b4;
  
}
input[type="search"] {
    width: 65%;
    padding:10px 12px;
    border: 3px solid #34b36d;
    color: #1a4d3a;
    background-color: #96c4b5;
    border-radius: 25px;
    box-sizing: border-box;
    margin: 5px 0px 0px 50px;
    font-family: "Gorditas", serif;
    text-align: center;
}
input[type="submit"] {
    background-color: #34b36d;
    color: #1a4d3a;
    border: none;
    border-radius: 60px;
    padding: 8px 12px;
    cursor: pointer;
     font-family: "Gorditas", serif;
     margin: 0 auto;
     text-align: center;
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #4f6261;
    
}